.button {
	position: relative;
	border-radius: var(--radius-sm);
	color: var(--color-text-primary);
	display: inline-flex;
	font-size: var(--font-size-md);
	height: var(--control-height-default);
	justify-content: center;
	padding-inline: var(--spacing-sm);
	transition: background-color var(--transition-fast);
	width: max-content;
	overflow: hidden;

	span {
		position: relative;
		display: flex;
		align-items: center;
		gap: var(--spacing-xs);
	}

	&:disabled {
		opacity: 30%;
	}

	background-color: var(--color-bg);

	&:not(:disabled):hover {
		background-color: color-mix(
				in srgb,
				var(--color-bg),
				#fff 25%
		);
	}

	&:not(:disabled):active {
		background-color: color-mix(
				in srgb,
				var(--color-bg),
				#fff 5%
		);
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	&::before {
		background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.1) 5%,
				rgba(0, 0, 0, 0.4) 50%
		);
	}

	&::after {
		background-image: radial-gradient(
				ellipse at top,
				rgba(#fff, 15%) 5%,
				rgba(#fff, 5%) 45%
		);
	}
}

.primary {
	--color-bg: var(--color-primary);
}

.secondary {
	--color-bg: var(--color-secondary);
}

.fullWidth {
	width: 100%;
}

