.button {
	background-color: var(--color-bg);
	border-radius: var(--radius-sm);
	color: var(--color-text-primary);
	display: inline-flex;
	font-size: var(--font-size-md);
	height: var(--control-height-default);
	justify-content: center;
	overflow: hidden;
	padding-inline: var(--spacing-sm);
	position: relative;
	transition: background-color var(--transition-fast);
	width: max-content;

	span {
		align-items: center;
		display: flex;
		gap: var(--spacing-xs);
		position: relative;
	}

	&:disabled {
		opacity: 0.3;
	}

	&:not(:disabled):hover {
		background-color: color-mix(
				in srgb,
				var(--color-bg),
				#fff 25%
		);
	}

	&:not(:disabled):active {
		background-color: color-mix(
				in srgb,
				var(--color-bg),
				#fff 5%
		);
	}

	&::before,
	&::after {
		content: "";
		inset: 0;
		pointer-events: none;
		position: absolute;
	}

	&::before {
		background-image: linear-gradient(
				180deg,
				rgba(#000, 10%) 5%,
				rgba(#000, 40%) 50%
		);
	}

	&::after {
		background-image: radial-gradient(
				ellipse at top,
				rgba(#fff, 15%) 5%,
				rgba(#fff, 5%) 45%
		);
	}
}

.primary {
	--color-bg: var(--color-primary);
}

.secondary {
	--color-bg: var(--color-secondary);
}

.fullWidth {
	width: 100%;
}

