@use "@/shared/styles/mixins" as *;

.counterButton {
	&:not(:disabled) {
		@include any-hover {
			background: rgb(255 255 255 / 20%);
		}
	}

	&:active:not(:disabled) {
		background-color: rgb(255 255 255 / 10%);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}

	svg {
		height: 24px;
		width: 24px;
	}
}
