.radioGroup {
	display: grid;
	gap: var(--spacing-md);
	grid-template-columns: repeat(2, 1fr);
	padding-inline: var(--spacing-sm);
}

.radioLabel {
	align-items: center;
	cursor: pointer;
	display: flex;
	gap: var(--spacing-xs);
	user-select: none;
}

.radioInput {
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;

	&:checked + .radioCustom {
		border-color: var(--color-primary);

		&::after {
			opacity: 1;
		}
	}

	&:focus + .radioCustom {
		box-shadow: 0 0 0 2px rgb(46 125 50 / 30%);
	}
}

.radioCustom {
	background-color: transparent;
	border: 2px solid rgba(#fff, 30%);
	border-radius: 50%;
	flex-shrink: 0;
	height: 16px;
	position: relative;
	transition: border-color var(--transition-fast);
	width: 16px;

	&::after {
		background-color: var(--color-primary);
		border-radius: 50%;
		content: "";
		height: 8px;
		left: 50%;
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: opacity var(--transition-fast);
		width: 8px;
	}
}

.radioText {
	font-size: var(--font-size-sm);
}
